<div class="row mt-100%">
  <div class="col col-md-100%">
    <h3 class="text-center">User Badges </h3>
      <table class="table table-info table-sm">
        <thead>
          <tr>
            <th scope="col">Bagde title</th>
            <th scope="col">Bagde picture</th>
            <th scope="col">Bagde rule</th>      
            <th scope="col">Bagde parameter</th>
          </tr>
        </thead>
          <tbody>
            <%= render @badges%>  
          </tbody>         
      </table> 
  </div>
</div>
