<tr>
  <td><%= link_to gist.question.body,admin_question_path(gist.question).truncate(25),target: '_blank'%> </td>
  <td><%= link_to 'Gist', gist.git_pull_url,target: '_blank'%></td>
  <td><%= gist.user.email%></td>
</tr>