<footer class="footer">
  <p> <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: :_blank %></p>
  <h5><p>Author Vladimir Ostapenko repo: <%= github_url("Gluuck", "TestGuru") %></p></h5>

  <h5>Year today: <%= current_year%></h5>
</footer>
